{%extends 'base.html'%}
{%block main%}
<h1>Properties</h1>
<br>
<div>
    {% for property in properties%}
    <div>
        <img src="{{url_for('get_image',filename=property.photo)}}">
        <div>
            <h2>{{property.title}}</h2>
            <div>
                <p>{{property.location}}</p>
            </div>
            <p>${{property.price}}</p>
        </div>
        <a href="{{url_for('display_property',propertyid=property.id)}}"><button>View Property</button></a>
    </div>
    {%endfor%}
</div>
{%endblock%}
